<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzc.top.dao.EnResolutionMapper">
    <resultMap id="BaseResultMap" type="com.hzc.top.model.EnResolution">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="questionId" property="questionid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="deleted" property="deleted" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, questionId, name, deleted
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from en_resolution
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectBySectionId" resultType="com.hzc.top.model.EnResolution">
        SELECT
             er.id,er.questionId,er.name,er.deleted
        FROM
            en_resolution er
               left join
            en_question eq on er.questionId = eq.id
        where
            eq.categoryCode = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from en_resolution
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hzc.top.model.EnResolution">
    insert into en_resolution (id, questionId, name, 
      deleted)
    values (#{id,jdbcType=INTEGER}, #{questionid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.hzc.top.model.EnResolution">
        insert into en_resolution
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="questionid != null">
                questionId,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="questionid != null">
                #{questionid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hzc.top.model.EnResolution">
        update en_resolution
        <set>
            <if test="questionid != null">
                questionId = #{questionid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hzc.top.model.EnResolution">
    update en_resolution
    set questionId = #{questionid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>